$white: #ffffff;
$black: #000000;
$grey-space: #6c7279;
$fa-plus: rgb(18, 37, 214);
$fa-sharp: rgb(253, 142, 6);
$form-title-text: #fc9002;
$form-create-btn:#6de0cd;
$in-progres-btns: #98FB98;
$author-color: #22463e;
$card-color: #abffed;
$in-done-btns:  #78DBE2;